
{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    first: true,
    label: 'Facebook Pixel Id',
    instructions: 'See the official <a href="https://www.facebook.com/business/help/952192354843755?id=1205376682832142" target="_blank">Facebook documentation</a> on how to create a Facebook Pixel',
    id: 'pixelId',
    name: 'pixelId',
    value: settings.pixelId,
    required: true,
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    label: 'Facebook Conversion API Access Token',
    instructions: 'See the official <a href="https://www.facebook.com/business/help/1341993546002479" target="_blank">Facebook documentation</a> on how to create an Access Token',
    id: 'accessToken',
    name: 'accessToken',
    value: settings.accessToken,
    required: true,
    suggestEnvVars: true,
}) }}

{{ forms.textField({
    label: 'Test Event Code',
    instructions: 'When testing the Server Events you can add the <a href="https://www.facebook.com/business/help/2040882565969969" target="_blank">Test Event Code</a>.',
    id: 'testEventCode',
    name: 'testEventCode',
    value: settings.testEventCode,
}) }}
